@use '../abstracts/' as *;

/* --- Billing section --- */
.billing {
  display: flex;
  align-items: center;
  padding-bottom: 2.533rem;
  @include mq(md) {
    padding-bottom: 2.667rem;
  }

  > div {
    flex: 1;
    display: flex;
    align-items: center;

    &:first-child > span {
      margin-left: auto;
    }

    &:last-child > span {
      margin-right: auto;
    }
  }

  &__method {
    flex: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: max-content;
  }

  &__option {
    position: relative;
  }
}
