@use '../abstracts/' as *;

/* --- Header --- */
header {
  grid-area: header;
  margin: 3.8rem 0 2.133rem;
  height: 9.667rem;
  @include mq(lg) {
    margin: 4.467rem 0 3.6rem;
  }
}
.header {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: no-repeat center url("../images/pattern-circles.svg");
  background-size: auto 100%;

  &__title {
    padding-bottom: 0.533rem;
    @include mq(md) {
      padding-bottom: 0.8rem;
    }
  }

  &__subtitle {
    max-width: 25ch;
    @include mq(md) {
      max-width: 56ch;
    }
  }
}
