@use '../abstracts/' as *;

/* --- Options section --- */
.options {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 2.133rem;

  > *:not(:last-child) {
    margin-bottom: 24px;
  }

  @include mq(md) {
    > *:not(:last-child) {
      padding-bottom: 0px;
    }
    margin-bottom: 2.667rem;
    flex-direction: row;
    justify-content: space-between;
  }

  &__price {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 1ch;
    > span {
      display: block;
    }
    #price {
      &::before {
        content: "$";
      }
    }
  }

  &__slider {
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    @include mq(md) {
      margin-top: 1.6rem;
      order: 3;
    }
  }
}
