@use '../abstracts/' as *;

/* --- Options section --- */
.options {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-bottom: 2.133rem;

  @include mq(md) {
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 0;
  }

  &__price {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 1ch;
    > span {
      display: block;
    }
    #price {
      &::before {
        content: "$";
      }
    }
  }

  &__slider {
    height: 40px;
    margin: 24px 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    @include mq(md) {
      order: 3;
    }
  }
}
