@use '../abstracts/' as *;

/* --- Tag --- */
.tag {
  padding: 4px 7px;
  line-height: 1;
  white-space: nowrap;
  color: var(--col-red200);
  background-color: var(--col-red100);
  border-radius: 10px;
  display: inline-block;
  position: absolute;
  left: auto;
  margin-left: 1ch;
  bottom: 50%;
  transform: translateY(50%);

  &::before {
    content: "-";
  }

  &::after {
    content: "";
  }

  @include mq(md) {
    &::before {
      content: "";
    }
    &::after {
      content: " dicount";
    }
  }
}
