@use '../abstracts/' as *;

/* --- Typography --- */
.text--l,
.text--m,
.text--s,
.text--xs {
  color: var(--col-gray_blue300);
}

// 32px - 40px
.text--xxl {
  font-weight: 800;
  letter-spacing: -1px;
  letter-spacing: 1;
  color: var(--col-blue300);
  font-size: clamp(2.133rem, 4vw, 2.667rem);
}

//  20px - 28px
.text--xl {
  font-size: clamp(1.333rem, 4vw, 1.867rem);
  font-weight: 800;
  color: var(--col-blue300);
}

// 14px - 16px
.text--l {
  font-weight: 600;
  font-size: clamp(0.933rem, 1.4vw, 1.067rem);
}

// 13px - 15px
.text--m {
  font-weight: 600;
  font-size: clamp(0.867rem, 1.2vw, 1rem);
}

// 12px - 14px
.text--s {
  letter-spacing: 1.71px;
  font-weight: 800;
  font-size: clamp(0.8rem, 2vw, 0.933rem);
}

// 12px
.text--xs {
  font-size: 0.8rem;
  font-weight: 600;
}

.uppercase {
  text-transform: uppercase;
  letter-spacing: 1.71px;
  @include mq(md) {
    letter-spacing: 2px;
  }
}
