/* --- Colors --- */
:root {
  --col-cyan100: hsl(174, 77%, 80%);
  --col-cyan200: hsl(174, 86%, 45%);
  --col-cyan300: hsl(174, 65%, 41%);

  --col-red100: hsl(14, 92%, 95%);
  --col-red200: hsl(15, 100%, 70%);

  --col-gray_blue100: hsl(224, 65%, 95%);
  --col-gray_blue200: hsl(223, 50%, 87%);
  --col-gray_blue300: hsl(225, 20%, 60%);

  --col-blue100: hsl(230, 100%, 99%);
  --col-blue200: hsl(226, 100%, 87%);
  --col-blue300: hsl(227, 35%, 25%);

  --col-white: hsl(0, 0%, 100%);
}
